table{
  width: 80%;
  border-collapse: collapse;
  border: 2px solid black;
}

tbody{
  width: 80%;
  border-collapse: collapse;
  border: 2px solid black;
}

th{
  padding: 8px;
  border-collapse: collapse;
  border: 2px solid black;
}

td{
  padding: 8px;
  border-collapse: collapse;
  border: 2px solid black;
}